@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Catamaran" !important;
  margin: 0;
  padding: 0;
}

body {
  background-color: #19181b;
  color: #f5f4f5;
  height: 100%;
}

main {
  display: flex;
  height: 100vh;
  padding: 12px;
  width: 100%;
}

p {
  margin-bottom: 0 !important;
}

.heading p {
  color: #98959d;
}

.section-form {
  background-color: #232225;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
  padding: 80px;
}

.section-agenda {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  justify-content: flex-start;
  padding: 80px 112px;
  width: 100%;
}

.customer-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.time {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.daytime {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.daytime p {
  color: #98959d;
}

.time-list .btn {
  background-color: #2e2c30;
  color: #b2afb6;
}

.time-list .btn:hover {
  border: 1px solid #b8952e;
  color: #b2afb6;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.form-label {
  font-size: large !important;
  font-weight: 600;
}

.heading-agenda {
  display: flex;
  justify-content: space-between;
}

.schedule {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.schedule-card {
  border: 1px solid #2e2c30;
  border-radius: 8px;
}

.schedule-card-header {
  align-items: center;
  border-bottom: 1px solid #2e2c30;
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
}

.schedule-list {
  list-style: none;
  margin: 0;
  padding: 12px 24px;
}

.schedule-item {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 5px 0;
}

.schedule-info {
  display: flex;
  gap: 20px;
}

.schedule-info span:first-child {
  color: #b2afb6;
  font-weight: bold;
}

.schedule-action {
  display: flex;
  gap: 12px;
}

.card-title {
  align-items: flex-start;
  display: flex;
  gap: 12px;
}

.icon {
  width: 24px;
}

.no-schedule-message {
  color: red;
  text-align: center;
}

.search-date-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (max-width: 1000px) {
  main {
    flex-direction: column;
  }

  .section-form,
  .section-agenda {
    padding: 80px 20px;
  }

  .heading-agenda {
    gap: 10px;
  }
}
