.form-control {
  background-color: #232225;
  border: 1px solid #3e3c41;
  color: #b2afb6;
}

.form-control:focus {
  background-color: #232225;
  border: 1px solid #b8952e;
  box-shadow: none;
  color: #b2afb6;
}
